@import 'custom/bootstrap-override';

//social buttons position
.social-buttons a{
  padding-left:5px;
  padding-right:5px;
  font-size: 30px;
}

//social buttons colour
.fab, .fa-envelope{
  text-decoration: none;
  color: $primary !important;

  &:hover{
    text-decoration: none;
    color:lighten($primary,20%) !important;
  }
}

